{% extends 'base.html' %}

{% block head %}
<title>Update Product</title>
{% endblock head %}

{% block content %}
<div class="container">
    <h1>Update Product</h1><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_name">Name:</label>
            <input type="text" name="name" value="{{object.name}}" class="form-control" placeholder="Name Product"
                maxlength="100" required id="id_name">
        </p>
        <p>
            <label for="id_price">Price:</label>
            <input type="number" name="price" value="{{object.price}}" class="form-control" placeholder="Price Product"
                step="0.01" required id="id_price">
        </p>
        <P>
            <label for="id_description">Description:</label>
            <textarea name="description" cols="40" rows="3" class="form-control" maxlength="300" required
                id="id_description">{{object.description}}
            </textarea>
        </P>
        <P>
            <label for="id_activity">Active: </label>
            <input type="checkbox" name="activity" id="id_activity" {%if object.activity %} checked {% endif %}>
        </P>
        <P>
            {% if object.activity %}
            <img src="{{ object.image.url }}" alt="Current Image">
            {% endif %}
        </P>
        <p>
            <label for="id_image">Image:</label>
            <input type="file" name="image" class="form-control" accept="image/*" id="id_image">
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'product_list' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
        </p>
    </form>
</div>
{% endblock content %}