{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
<title>Products</title>

{% endblock head %}

{% block container %}

<div class="container">
    {% if messages %}
        {% for message in messages  %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div> 
        {% endfor %}
      {% endif %}
    <img src="{% static 'images/nintendo_wii.jpeg'%}" alt="Nintendo Wii" id="img_wii">
    <a href="{% url 'product_create' %}"> <button type="button" class="btn btn-warning" id="btn-create">Create</button></a>
      
    <h1>List of products</h1>
    <input type="text" id="search-input" placeholder="Filter">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="product-list" class="product-list">
            {% for product in products %}
                <tr class="table-active">
                    <td>{{product.id}}</td>
                    <td><a href="#">{{product.name}}</a></td>
                    <td>{{product.price | intcomma}} </td>
                    <td><button type="button" class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-product-price="{{product.price}}">Delete</button></td>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  
  <!--Begin modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="DeleteModallLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    <form action="" method="post" id="deleteForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>                 
                </div>
              </div>
            </div>
          </div>
 <!-- End Modal--> 
<script src="{% static 'js/product_list.js' %}"></script>
{% endblock container %}
