#img_wii {
    float: left;

}
.search {
    float: right;
    position: relative;
    top: 30px;
    align-items: right;
}


h1 {
    position: relative;
    align-items: center;
    left: 220px;
    top: 20px;
}

#btn-create{
    position: relative;
    left: -300px;
    top: 120px; 
}
#actions{
    text-align: center;
}
tr {
    text-align: center;
}
#msgAreYouSure{
    color: red;
    font-size: 21px;
}
#msgAreYouSure{
    color: red;
    font-size: 21px;
}
.modal-body{
    font-family: Helvetica;
    font-size: 17px;
}
.modal-footer{
    background-color: #10080854;
}
.modal-header{
    background-color: #10080854;
}
